@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
nav img {
  width: 200px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 1rem 2rem;
  align-items: center;
  font-weight: 700;
  box-shadow: 0 0 4px;
}
nav ul {
  display: flex;
  gap: 2rem;
}
nav ul li {
  list-style: none;
}
.hero {
  background: url(hero.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  text-align: center;
}
.hero h1 {
  font-size: 500%;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}
.hero p {
  font-size: 125%;
  font-weight: 400;
  text-shadow: 0 0 1px black;
}
#cta {
  padding: 1rem 3rem;
  font-weight: 900;
  font-size: large;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
#cta:hover {
  background-color: bisque;
  transform: scale(1.1);
  transition: 0.3s ease;
}
.activities-section {
  background-color: antiquewhite;
  height: 100vh;
}
.activities-section {
  text-align: center;
  padding-top: 3rem;
}
.activities-section h1 {
  font-size: 3rem;
}
.activities-section p {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.card {
  width: 300px;
  height: 400px;
  background-color: azure;
  text-align: left;
}
.image {
  width: 300px;
  height: 200px;
  background: url("https://cdn.britannica.com/86/170586-050-AB7FEFAE/Taj-Mahal-Agra-India.jpg");
  background-size: cover;
}
.card-flex {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content {
  padding: 10px;
}
.card button {
  border: none;
  padding: 8px 16px;
  background-color: burlywood;
  font-weight: 500;
  margin-top: 6px;
}
.guide-container {
  height: 100vh;
  text-align: center;
}
.guide-container h1 {
  font-size: 3rem;
  margin-top: 3rem;
}
.guide-card {
  height: 250px;
  width: 600px;
  margin: auto;
  margin-top: 6rem;
  background-color: beige;
  box-shadow: 0 0 5px beige;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

.guide-card img {
  width: 250px;
}
.guide-info {
  text-align: left;
  padding: 1rem;
  margin-top: 2rem;
}
.guide-info button {
  background-color: aquamarine;
  border: none;
  padding: 8px 16px;
  border-radius: 1rem;
  box-shadow: 0 0 4px aquamarine;
}
.guide-info h3 {
  font-size: 2rem;
}
footer {
  height: 20vh;
  background-color: rgb(37, 37, 37);
  color: azure;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
